<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-md-7">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" class="form-control" formControlName="name" />
        <span *ngIf="!employeeForm.get('name').valid && employeeForm.get('name').touched" class="text-muted">The name is required</span>
      </div>
      <div class="form-group">
        <label for="dob">Date OF Birth</label>
        <input type="date" name="dob" id="dob" class="form-control" formControlName="dob" />
        <span *ngIf="!employeeForm.get('dob').valid && employeeForm.get('dob').touched" class="text-muted">The date of birth is required</span>
      </div>
      <div class="form-group">
        <label for="salary">Salary</label>
        <input type="number" name="salary" id="salary" class="form-control" formControlName="salary" />
        <span *ngIf="!employeeForm.get('salary').valid && employeeForm.get('salary').touched" class="text-muted">
          <span *ngIf="employeeForm.get('salary').errors['required']">Salary is required</span>
          <span *ngIf="employeeForm.get('salary').errors['requiredPattern'] !== null">Salary must be a positive number</span>
        </span>
      </div>
    </div>
    <div class="col-md-4 offset-md-1" formArrayName="benefits">
      <div class="form-group" *ngFor="let benefit of benefits;let i = index" [formGroupName]="i">
        <label>
          <input type="checkbox" formControlName="included" /> {{ benefit.name }}
        </label>
      </div>
    </div>
    <div class="col-md-12">
      <hr />
      <button class="btn btn-lg btn-success" type="submit" [disabled]="!employeeForm.valid">Save</button>
      <button [routerLink]='["/"]' class="btn btn-lg btn-info" type="button">Home</button>
    </div>
  </div>
</form>
